@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.todos-bg-container {
    background: linear-gradient(to bottom right, #e0f7fa, #b2ebf2);
    height: 100vh;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-weight: 500;
    margin: 20px 0;
    color: #2c3e50;
}

.create-task-heading {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #34495e;
}

.todo-items-heading {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #2980b9;
}

.todo-items-heading-subpart {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0;
    padding: 0;
}

.todo-item-container {
    margin-top: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border: 2px solid #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
    font-size: 16px;
}

.button {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5a79c1; /* Darker shade on hover */
}

.label-container {
    background-color: #e6f6ff;
    width: 100%;
    border: 2px solid #096f92;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.checkbox-input {
    width: 25px;
    height: 25px;
    margin: 12px 12px 12px 20px;
    appearance: none; /* Custom checkbox styling */
    border: 2px solid #4c63b6;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox-input:checked {
    background-color: #4c63b6;
}

.checkbox-label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    flex-grow: 1;
    margin: 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    color: #bdc3c7;
}
